.header{
    width:100%;
    height:15vh;
    background-color: rgb(138, 233, 146);
    color: white;
    text-align: center;
    display: table;
}
.header h1{
    display:table-cell; 
    vertical-align:middle;
}
@media only screen and (max-width: 480px){
    
    .header h1{
        font-size: 1.5rem;
    }

}
@media only screen and (min-width: 481px) and (max-width: 768px){
        .header h1{
            font-size: 2rem;
        }
   }
     